# For now, we use requirements.txt and system python
# and expect the user to run `pip3 install -r requirements.txt`, optionally in a venv.
# Later we will transition to poetry in order to publish the package

transitions
bleak
pycycling